body {
    font-family: sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  input {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
  }
  
  select {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
  }
  
  #results {
    width: 200px;
    border: 1px solid black;
    padding: 10px;
  }
  